@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

.nav_links {
    @apply hover:border-[#495057] hover:text-[#495057] py-2 cursor-pointer border-b-[3px] hover:border-b-[3px] border-transparent hover:border-solid text-xl
}

.hero_button {
    @apply cursor-pointer font-semibold text-sm border-2 rounded-full py-3 px-5 tracking-wider
}

.hero_button_hover {
    @apply border-gray-400 hover:text-white hover:bg-gray-400 text-[#495057]
}

.hero_image_profile {
    @apply max-h-[15rem] max-w-[15rem] sm:max-h-[18rem] sm:max-w-[18rem] md:max-h-[21rem] md:max-w-[21rem] lg:max-h-[24rem] lg:max-w-[24rem] w-full rounded-full
}

.header_title {
    @apply my-3 md:my-4 font-semibold text-4xl sm:text-5xl tracking-normal
}

.section {
    @apply flex justify-center items-center w-full min-h-[40rem] md:-mt-14 mb-10
}

.section_text {
    @apply font-light
}

.section_border {
    @apply w-full border-gray-400 rounded-xl border-2 p-6 flex justify-center flex-col items-center
}

.experience_tech {
    @apply grid grid-cols-2 md:grid-cols-3 w-full gap-3 md:gap-5 justify-center items-center py-5
}

.experience_tech_item {
    @apply text-lg font-semibold
}

.project_images {
    @apply min-w-[15rem] max-w-[15rem] min-h-[15rem] max-h-[15rem] sm:min-w-[20rem] sm:max-w-[20rem] sm:min-h-[20rem] sm:max-h-[20rem]
}